{% extends 'base.html.twig' %}

{% block title %}Sales Report Page!{% endblock %}

{% block body %}
<div class="container my-10">
    <h1>Sales Report Page!</h1>
    <div class="row">
        {% include 'menu.html.twig' %}
        <div class="col-xs-10 col-md-10 col-lg-10">
            <div class="row">
                <table class="table">
                    <td>
                        <div class="form-group">
                            <label for="product">Product</label>
                            <select onchange="javascript:window.location.replace('/sales/'+this.value)" class="form-control" id="product">
                            <option value="" selected>- all products -</option>
                            {% for product in products %}
                            <option {{ product.id == product_id ? 'selected' : '' }} value="{{  product.id }}">{{ product.productname }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </td>
                    {# <td style="text-align:right;">
                        <button class="btn btn-primary">SEARCH</button>
                    </td> #}
                </table>
            </div>
            <div class="row">
                <table class="table table-bordered table-stripped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Product</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in sales %}
                        <tr>
                            <td scope="row">{{ sale.date|date("m/d/Y H:i") }}</td>
                            <td>{{ sale.product }}</td>
                            <td>${{ sale.amount|number_format(2,'.',',') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>           
        </div>    
    </div> 
</div>
{% endblock %}
